{% extends "base.html" %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
<link href="https://fonts.googleapis.com/css?family=Courgette|Gloria+Hallelujah|Indie+Flower|Permanent+Marker|Varela+Round" rel="stylesheet">
{% endblock%}


{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  <h1 class="text-center">Welcome to One Minute Pitch.</h1>
  <div class="img">
    <img src="static/download (1).jpeg" alt="pitch">
  </div>
  <br>
  <hr>
  <div class="mess1">
    <p class="style"><em>“How did it get so late so soon?” </em></p>
    <p class="style"><strong>― Dr. Seuss</strong></p>
    <p id="style" class="text-center"><i>Don't be caught up in the same situation,</i> <strong><em>pitch</em></strong> now!</p>
  </div>
  
  <br>
  <h2 class="text-center">Categories</h2>
  <br>
  <hr>
  <br>
  <div class="row categories">
    <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <a href="{{url_for('main.pitches_category',category='pickup-lines')}}">PickUp-Lines</a>
    </div>
    <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <a href="{{url_for('main.pitches_category',category='motivational')}}">Motivational</a>
    </div>
    <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <a href="{{url_for('main.pitches_category',category='promotion')}}">Promotion</a>
    </div>
  </div>
  <div class="row categories">
    <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <a href="{{url_for('main.pitches_category',category='funny')}}">Funny</a>
    </div>
    <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <a href="{{url_for('main.pitches_category',category='random')}}">Random</a>
    </div>
    <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <a href="{{url_for('main.pitches_category',category='all')}}">All</a>
    </div>
  </div>
</div>


<style>
  .img {
    margin-left: 40%;
    margin-right: 40%;
  }

  .style {
    font-family: Courgette;
    text-align: center;
    font-size: 200%;
  }

  #style {
    font-size: 200%;
  }

  .category {
    padding-bottom: 50px;
</style>


{% endblock %}
